[submodule "cairo-vm"]
	path = cairo-vm
	url = https://github.com/lambdaclass/cairo-vm.git
	shallow = true
[submodule "ziggy-starkdust"]
	path = ziggy-starkdust
	url = https://github.com/keep-starknet-strange/ziggy-starkdust.git
	shallow = true
[submodule "cairo"]
	path = cairo
	url = https://github.com/zmalatrax/cairo.git
	shallow = true
